<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="public/style.css" rel="stylesheet">
    </head>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>

    <body class="flex flex-col-2 h-screen">
        <div class="bg-red-200 w-24">
            <h1 class="text-lg">
                Channels
            </h1>
{{ template "channels" . }}
        </div>
    </body>
</html>
